@page
@model Provider.Areas.Identity.Pages.RolePermission.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProviderRolePermission[0].ResourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProviderRolePermission[0].Create)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProviderRolePermission[0].Read)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProviderRolePermission[0].Update)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProviderRolePermission[0].Delete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProviderRolePermission[0].RoleID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ProviderRolePermission) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ResourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Create)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Read)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Update)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Delete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
