@page
@model Provider.Areas.Identity.Pages.Account.CreateRoleModel
@*@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery*@
@{
    //var requestToken = Antiforgery.GetAndStoreTokens(Microsoft.Build.Evaluation.Context).RequestToken;
}
@Html.AntiForgeryToken()
<input id="RequestVerificationToken" type="hidden" value="CfDJ8DEn62_7DutFkUSZaQzmexkBMqOiT87litJ9Hb_V26ZifWEStDvLaDGj8XbvLOkYe2vo1V1wUdVKy_o3ZsBhiJfwyKkcgft45GDggNXIzmeAe_szOyvtuuuCJmy_bOAkX40scLbtJyD8467xnSIt8M4" />
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Container-->
    <div class=" container-xxl " id="kt_content_container">

        <!--begin::Row-->
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-5 g-xl-9">
            <!--begin::Col-->
            <div class="col-md-4">
                <!--begin::Card-->
                <div class="card card-flush h-md-100">
                    <!--begin::Card header-->
                    <div class="card-header">
                        <!--begin::Card title-->
                        <div class="card-title">
                            <h2>Administrator</h2>
                        </div>
                        <!--end::Card title-->
                    </div>
                    <!--end::Card header-->
                    <!--begin::Card body-->
                    <div class="card-body pt-1">
                        <!--begin::Users-->
                        <div class="fw-bolder text-gray-600 mb-5">Total users with this role: 5</div>
                        <!--end::Users-->
                        <!--begin::Permissions-->
                        <div class="d-flex flex-column text-gray-600">
                            <div class="d-flex align-items-center py-2"><span class="bullet bg-primary me-3"></span> All Admin Controls</div>
                            <div class="d-flex align-items-center py-2"><span class="bullet bg-primary me-3"></span> View and Edit Financial Summaries</div>
                            <div class="d-flex align-items-center py-2"><span class="bullet bg-primary me-3"></span> Enabled Bulk Reports</div>
                            <div class="d-flex align-items-center py-2"><span class="bullet bg-primary me-3"></span> View and Edit Payouts</div>
                            <div class="d-flex align-items-center py-2"><span class="bullet bg-primary me-3"></span> View and Edit Disputes</div>

                            <div class="d-flex align-items-center py-2"><span class="bullet bg-primary me-3"></span> <em>and 7 more...</em></div>
                        </div>
                        <!--end::Permissions-->
                    </div>
                    <!--end::Card body-->
                    <!--begin::Card footer-->
                    <div class="card-footer flex-wrap pt-0">
                        <a href="/jet-html-free/apps/user-management/roles/view.html" class="btn btn-light btn-active-primary my-1 me-2">View Role</a>

                        <button type="button" class="btn btn-light btn-active-light-primary my-1" data-bs-toggle="modal" data-bs-target="#kt_modal_update_role">Edit Role</button>
                    </div>
                    <!--end::Card footer-->
                </div>
                <!--end::Card-->
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-md-4">
                <!--begin::Card-->
                <div class="card card-flush h-md-100">
                    <!--begin::Card header-->
                    <div class="card-header">
                        <!--begin::Card title-->
                        <div class="card-title">
                            <h2>Developer</h2>
                        </div>
                        <!--end::Card title-->
                    </div>
                    <!--end::Card header-->
                    <!--begin::Card body-->
                    <div class="card-body pt-1">
                        <!--begin::Users-->
                        <div class="fw-bolder text-gray-600 mb-5">Total users with this role: 14</div>
                        <!--end::Users-->
                        <!--begin::Permissions-->
                        <div class="d-flex flex-column text-gray-600">
                            <div class="d-flex align-items-center py-2"><span class="bullet bg-primary me-3"></span> Some Admin Controls</div>
                            <div class="d-flex align-items-center py-2"><span class="bullet bg-primary me-3"></span> View Financial Summaries only</div>
                            <div class="d-flex align-items-center py-2"><span class="bullet bg-primary me-3"></span> View and Edit API Controls</div>
                            <div class="d-flex align-items-center py-2"><span class="bullet bg-primary me-3"></span> View Payouts only</div>
                            <div class="d-flex align-items-center py-2"><span class="bullet bg-primary me-3"></span> View and Edit Disputes</div>

                            <div class="d-flex align-items-center py-2"><span class="bullet bg-primary me-3"></span> <em>and 3 more...</em></div>
                        </div>
                        <!--end::Permissions-->
                    </div>
                    <!--end::Card body-->
                    <!--begin::Card footer-->
                    <div class="card-footer flex-wrap pt-0">
                        <a href="/jet-html-free/apps/user-management/roles/view.html" class="btn btn-light btn-active-primary my-1 me-2">View Role</a>

                        <button type="button" class="btn btn-light btn-active-light-primary my-1" data-bs-toggle="modal" data-bs-target="#kt_modal_update_role">Edit Role</button>
                    </div>
                    <!--end::Card footer-->
                </div>
                <!--end::Card-->
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-md-4">
                <!--begin::Card-->
                <div class="card card-flush h-md-100">
                    <!--begin::Card header-->
                    <div class="card-header">
                        <!--begin::Card title-->
                        <div class="card-title">
                            <h2>Analyst</h2>
                        </div>
                        <!--end::Card title-->
                    </div>
                    <!--end::Card header-->
                    <!--begin::Card body-->
                    <div class="card-body pt-1">
                        <!--begin::Users-->
                        <div class="fw-bolder text-gray-600 mb-5">Total users with this role: 4</div>
                        <!--end::Users-->
                        <!--begin::Permissions-->
                        <div class="d-flex flex-column text-gray-600">
                            <div class="d-flex align-items-center py-2"><span class="bullet bg-primary me-3"></span> No Admin Controls</div>
                            <div class="d-flex align-items-center py-2"><span class="bullet bg-primary me-3"></span> View and Edit Financial Summaries</div>
                            <div class="d-flex align-items-center py-2"><span class="bullet bg-primary me-3"></span> Enabled Bulk Reports</div>
                            <div class="d-flex align-items-center py-2"><span class="bullet bg-primary me-3"></span> View Payouts only</div>
                            <div class="d-flex align-items-center py-2"><span class="bullet bg-primary me-3"></span> View Disputes only</div>

                            <div class="d-flex align-items-center py-2"><span class="bullet bg-primary me-3"></span> <em>and 2 more...</em></div>
                        </div>
                        <!--end::Permissions-->
                    </div>
                    <!--end::Card body-->
                    <!--begin::Card footer-->
                    <div class="card-footer flex-wrap pt-0">
                        <a href="/jet-html-free/apps/user-management/roles/view.html" class="btn btn-light btn-active-primary my-1 me-2">View Role</a>

                        <button type="button" class="btn btn-light btn-active-light-primary my-1" data-bs-toggle="modal" data-bs-target="#kt_modal_update_role">Edit Role</button>
                    </div>
                    <!--end::Card footer-->
                </div>
                <!--end::Card-->
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-md-4">
                <!--begin::Card-->
                <div class="card card-flush h-md-100">
                    <!--begin::Card header-->
                    <div class="card-header">
                        <!--begin::Card title-->
                        <div class="card-title">
                            <h2>Support</h2>
                        </div>
                        <!--end::Card title-->
                    </div>
                    <!--end::Card header-->
                    <!--begin::Card body-->
                    <div class="card-body pt-1">
                        <!--begin::Users-->
                        <div class="fw-bolder text-gray-600 mb-5">Total users with this role: 23</div>
                        <!--end::Users-->
                        <!--begin::Permissions-->
                        <div class="d-flex flex-column text-gray-600">
                            <div class="d-flex align-items-center py-2"><span class="bullet bg-primary me-3"></span> No Admin Controls</div>
                            <div class="d-flex align-items-center py-2"><span class="bullet bg-primary me-3"></span> View Financial Summaries only</div>
                            <div class="d-flex align-items-center py-2"><span class="bullet bg-primary me-3"></span> View Payouts only</div>
                            <div class="d-flex align-items-center py-2"><span class="bullet bg-primary me-3"></span> View and Edit Disputes</div>
                            <div class="d-flex align-items-center py-2"><span class="bullet bg-primary me-3"></span> Response to Customer Feedback</div>


                        </div>
                        <!--end::Permissions-->
                    </div>
                    <!--end::Card body-->
                    <!--begin::Card footer-->
                    <div class="card-footer flex-wrap pt-0">
                        <a href="/jet-html-free/apps/user-management/roles/view.html" class="btn btn-light btn-active-primary my-1 me-2">View Role</a>

                        <button type="button" class="btn btn-light btn-active-light-primary my-1" data-bs-toggle="modal" data-bs-target="#kt_modal_update_role">Edit Role</button>
                    </div>
                    <!--end::Card footer-->
                </div>
                <!--end::Card-->
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-md-4">
                <!--begin::Card-->
                <div class="card card-flush h-md-100">
                    <!--begin::Card header-->
                    <div class="card-header">
                        <!--begin::Card title-->
                        <div class="card-title">
                            <h2>Trial</h2>
                        </div>
                        <!--end::Card title-->
                    </div>
                    <!--end::Card header-->
                    <!--begin::Card body-->
                    <div class="card-body pt-1">
                        <!--begin::Users-->
                        <div class="fw-bolder text-gray-600 mb-5">Total users with this role: 546</div>
                        <!--end::Users-->
                        <!--begin::Permissions-->
                        <div class="d-flex flex-column text-gray-600">
                            <div class="d-flex align-items-center py-2"><span class="bullet bg-primary me-3"></span> No Admin Controls</div>
                            <div class="d-flex align-items-center py-2"><span class="bullet bg-primary me-3"></span> View Financial Summaries only</div>
                            <div class="d-flex align-items-center py-2"><span class="bullet bg-primary me-3"></span> View Bulk Reports only</div>
                            <div class="d-flex align-items-center py-2"><span class="bullet bg-primary me-3"></span> View Payouts only</div>
                            <div class="d-flex align-items-center py-2"><span class="bullet bg-primary me-3"></span> View  Disputes only</div>


                        </div>
                        <!--end::Permissions-->
                    </div>
                    <!--end::Card body-->
                    <!--begin::Card footer-->
                    <div class="card-footer flex-wrap pt-0">
                        <a href="/jet-html-free/apps/user-management/roles/view.html" class="btn btn-light btn-active-primary my-1 me-2">View Role</a>

                        <button type="button" class="btn btn-light btn-active-light-primary my-1" data-bs-toggle="modal" data-bs-target="#kt_modal_update_role">Edit Role</button>
                    </div>
                    <!--end::Card footer-->
                </div>
                <!--end::Card-->
            </div>
            <!--end::Col-->
            <!--begin::Add new card-->
            <div class="ol-md-4">
                <!--begin::Card-->
                <div class="card h-md-100">
                    <!--begin::Card body-->
                    <div class="card-body d-flex flex-center">
                        <!--begin::Button-->
                        <button type="button" class="btn btn-clear d-flex flex-column flex-center" data-bs-toggle="modal" data-bs-target="#kt_modal_add_role">
                            <!--begin::Illustration-->
                            <img src="/jet-html-free/assets/media/illustrations/sigma-1/4.png" alt="" class="mw-100 mh-150px mb-7">
                            <!--end::Illustration-->
                            <!--begin::Label-->
                            <div class="fw-bolder fs-3 text-gray-600 text-hover-primary">Add New Role</div>
                            <!--end::Label-->
                        </button>
                        <!--begin::Button-->
                    </div>
                    <!--begin::Card body-->
                </div>
                <!--begin::Card-->
            </div>
            <!--begin::Add new card-->
        </div>
        <!--end::Row-->
        <!--begin::Modals-->
        <!--begin::Modal - Add role-->
        <div class="modal fade" id="kt_modal_add_role" tabindex="-1" style="display: none;" aria-hidden="true">
            <!--begin::Modal dialog-->
            <div class="modal-dialog modal-dialog-centered mw-750px">
                <!--begin::Modal content-->
                <div class="modal-content">
                    <!--begin::Modal header-->
                    <div class="modal-header">
                        <!--begin::Modal title-->
                        <h2 class="fw-bolder">Add a Role</h2>
                        <br />
                        <input type="button" value="Get All Rows Data" class="btngetvalue" />

                        <input type="button" value="1. Read Table Values" name="read" onClick="readTblValues()" />
                        <input type="button" value="2. Store values in JS Array" name="store" onClick="storeAndShowTableValues()" />
                        <input type="button" value="3. Convert JS Array to json" name="convert" onClick="convertArrayToJSON()" />
                        <input type="button" value="4. Send json array to Server" name="send" onClick="sendTblDataToServer()" />
                        <label id="allrowsdata"><b>All Row Data Come Here</b></label>
                        <!--end::Modal title-->
                        <!--begin::Close-->
                        <div class="btn btn-icon btn-sm btn-active-icon-primary" data-kt-roles-modal-action="close">
                            <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
                            <span class="svg-icon svg-icon-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor"></rect>
                                    <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor"></rect>
                                </svg>
                            </span>
                            <!--end::Svg Icon-->
                        </div>
                        <!--end::Close-->
                    </div>
                    <!--end::Modal header-->
                    <!--begin::Modal body-->
                    <div class="modal-body scroll-y mx-lg-5 my-7">
                        <!--begin::Form-->
                        <!--begin::Scroll-->
                        <div class="d-flex flex-column scroll-y me-n7 pe-7" id="kt_modal_add_role_scroll" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_add_role_header" data-kt-scroll-wrappers="#kt_modal_add_role_scroll" data-kt-scroll-offset="300px" style="max-height: 341px;">
                            <!--begin::Input group-->
                            <div class="fv-row mb-10 fv-plugins-icon-container">
                                <!--begin::Label-->
                                <label class="fs-5 fw-bolder form-label mb-2">
                                    <span class="required">Role name</span>
                                </label>
                                <!--end::Label-->
                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true)
                                    <span class="label label-primary">Role name:</span>
                                    <p>
                                        @*<input class="form-control form-control-solid" placeholder="Enter a role name" name="role_name">*@
                                        @Html.TextBox("RoleName", null, new { @class = "form-control input-lg" })
                                    </p>
                                    <input type="submit" value="Save" class="btn btn-primary" />

                                }
                                <table class="table" id="sampleTbl">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.ProviderRolePermission[0].Id)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.ProviderRolePermission[0].ResourseName)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.ProviderRolePermission[0].Create)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.ProviderRolePermission[0].Read)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.ProviderRolePermission[0].Update)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.ProviderRolePermission[0].Delete)
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.ProviderRolePermission)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Id)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ResourseName)
                                                </td>
                                                <td>
                                                    @Html.EditorFor(modelItem => item.Create)
                                                </td>
                                                <td>
                                                    @Html.EditorFor(modelItem => item.Read)
                                                </td>
                                                <td>
                                                    @Html.EditorFor(modelItem => item.Update)
                                                </td>
                                                <td>
                                                    @Html.EditorFor(modelItem => item.Delete)
                                                </td>
                                                @* <td>
                                            @Html.DisplayFor(modelItem => item.RoleID)
                                            </td>*@
                                                @*<td>
                                            <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                                            <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                                            <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                                            </td>
                                            <td>
                                            @Html.DisplayFor(modelItem => item.RoleID)
                                            </td>
                                            <td>
                                            <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                                            <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                                            <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                                            </td>*@
                                            </tr>
                                        }
                                    </tbody>
                                </table>


                                <br><br>
                                <div id="tbTableValues"></div>
                                <div id="tbTableValuesArray"></div>
                                <div id="tbConvertToJSON"></div>
                                <div id="tbServerResponse"></div>
                            </div>
                            <!--end::Modal body-->
                        </div>
                        <!--end::Modal content-->
                    </div>
                    <!--end::Modal dialog-->
                </div>
                <!--end::Modal - Add role-->
                <!--begin::Modal - Update role-->
                <div class="modal fade" id="kt_modal_update_role" tabindex="-1" aria-hidden="true">
                    <!--begin::Modal dialog-->
                    <div class="modal-dialog modal-dialog-centered mw-750px">
                        <!--begin::Modal content-->
                        <div class="modal-content">
                            <!--begin::Modal header-->
                            <div class="modal-header">
                                <!--begin::Modal title-->
                                <h2 class="fw-bolder">Update Role</h2>
                                <!--end::Modal title-->
                                <!--begin::Close-->
                                <div class="btn btn-icon btn-sm btn-active-icon-primary" data-kt-roles-modal-action="close">
                                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
                                    <span class="svg-icon svg-icon-1">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                            <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor"></rect>
                                            <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor"></rect>
                                        </svg>
                                    </span>
                                    <!--end::Svg Icon-->
                                </div>
                                <!--end::Close-->
                            </div>
                            <!--end::Modal header-->
                            <!--begin::Modal body-->
                            <div class="modal-body scroll-y mx-5 my-7">
                                <!--begin::Form-->
                                <form id="kt_modal_update_role_form" class="form fv-plugins-bootstrap5 fv-plugins-framework" action="#">
                                    <!--begin::Scroll-->

                                    <div class="d-flex flex-column scroll-y me-n7 pe-7" id="kt_modal_update_role_scroll" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_update_role_header" data-kt-scroll-wrappers="#kt_modal_update_role_scroll" data-kt-scroll-offset="300px" style="max-height: 341px;">
                                        <!--begin::Input group-->
                                        <div class="fv-row mb-10 fv-plugins-icon-container">
                                            <!--begin::Label-->
                                            <label class="fs-5 fw-bolder form-label mb-2">
                                                <span class="required">Role name</span>
                                            </label>
                                            <!--end::Label-->
                                            <!--begin::Input-->
                                            <input class="form-control form-control-solid" placeholder="Enter a role name" name="role_name" value="Developer">
                                            <!--end::Input-->
                                            <div class="fv-plugins-message-container invalid-feedback"></div>
                                        </div>
                                        <!--end::Input group-->
                                        <!--begin::Permissions-->
                                        <div class="fv-row">
                                            <!--begin::Label-->

                                            <label class="fs-5 fw-bolder form-label mb-2">Role Permissions</label>
                                            <!--end::Label-->
                                            <!--begin::Table wrapper-->
                                            <div class="table-responsive">
                                                <!--begin::Table-->
                                                <table class="table align-middle table-row-dashed fs-6 gy-5">
                                                    <!--begin::Table body-->
                                                    <tbody class="text-gray-600 fw-bold">
                                                        <!--begin::Table row-->
                                                        <tr>
                                                            <td class="text-gray-800">
                                                                Administrator Access

                                                                <i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" title="" data-bs-original-title="Allows a full access to the system" aria-label="Allows a full access to the system"></i>
                                                            </td>
                                                            <td>
                                                                <!--begin::Checkbox-->
                                                                <label class="form-check form-check-sm form-check-custom form-check-solid me-9">
                                                                    <input class="form-check-input" type="checkbox" value="" id="kt_roles_select_all">
                                                                    <span class="form-check-label" for="kt_roles_select_all">
                                                                        Select all
                                                                    </span>
                                                                </label>
                                                                <!--end::Checkbox-->
                                                            </td>
                                                        </tr>
                                                        <!--end::Table row-->
                                                        <!--begin::Table row-->
                                                        <tr>
                                                            <!--begin::Label-->
                                                            <td class="text-gray-800">User Management</td>
                                                            <!--end::Label-->
                                                            <!--begin::Input group-->
                                                            <td>
                                                                <!--begin::Wrapper-->
                                                                <div class="d-flex">
                                                                    <!--begin::Checkbox-->
                                                                    <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
                                                                        <input class="form-check-input" type="checkbox" value="" name="user_management_read">
                                                                        <span class="form-check-label">
                                                                            Read
                                                                        </span>
                                                                    </label>
                                                                    <!--end::Checkbox-->
                                                                    <!--begin::Checkbox-->
                                                                    <label class="form-check form-check-custom form-check-solid me-5 me-lg-20">
                                                                        <input class="form-check-input" type="checkbox" value="" name="user_management_write">
                                                                        <span class="form-check-label">
                                                                            Write
                                                                        </span>
                                                                    </label>
                                                                    <!--end::Checkbox-->
                                                                    <!--begin::Checkbox-->
                                                                    <label class="form-check form-check-custom form-check-solid">
                                                                        <input class="form-check-input" type="checkbox" value="" name="user_management_create">
                                                                        <span class="form-check-label">
                                                                            Create
                                                                        </span>
                                                                    </label>
                                                                    <!--end::Checkbox-->
                                                                </div>
                                                                <!--end::Wrapper-->
                                                            </td>
                                                            <!--end::Input group-->
                                                        </tr>
                                                        <!--end::Table row-->
                                                        <!--begin::Table row-->
                                                        <tr>
                                                            <!--begin::Label-->
                                                            <td class="text-gray-800">Content Management</td>
                                                            <!--end::Label-->
                                                            <!--begin::Input group-->
                                                            <td>
                                                                <!--begin::Wrapper-->
                                                                <div class="d-flex">
                                                                    <!--begin::Checkbox-->
                                                                    <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
                                                                        <input class="form-check-input" type="checkbox" value="" name="content_management_read">
                                                                        <span class="form-check-label">
                                                                            Read
                                                                        </span>
                                                                    </label>
                                                                    <!--end::Checkbox-->
                                                                    <!--begin::Checkbox-->
                                                                    <label class="form-check form-check-custom form-check-solid me-5 me-lg-20">
                                                                        <input class="form-check-input" type="checkbox" value="" name="content_management_write">
                                                                        <span class="form-check-label">
                                                                            Write
                                                                        </span>
                                                                    </label>
                                                                    <!--end::Checkbox-->
                                                                    <!--begin::Checkbox-->
                                                                    <label class="form-check form-check-custom form-check-solid">
                                                                        <input class="form-check-input" type="checkbox" value="" name="content_management_create">
                                                                        <span class="form-check-label">
                                                                            Create
                                                                        </span>
                                                                    </label>
                                                                    <!--end::Checkbox-->
                                                                </div>
                                                                <!--end::Wrapper-->
                                                            </td>
                                                            <!--end::Input group-->
                                                        </tr>
                                                        <!--end::Table row-->
                                                        <!--begin::Table row-->
                                                        <tr>
                                                            <!--begin::Label-->
                                                            <td class="text-gray-800">Financial Management</td>
                                                            <!--end::Label-->
                                                            <!--begin::Input group-->
                                                            <td>
                                                                <!--begin::Wrapper-->
                                                                <div class="d-flex">
                                                                    <!--begin::Checkbox-->
                                                                    <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
                                                                        <input class="form-check-input" type="checkbox" value="" name="financial_management_read">
                                                                        <span class="form-check-label">
                                                                            Read
                                                                        </span>
                                                                    </label>
                                                                    <!--end::Checkbox-->
                                                                    <!--begin::Checkbox-->
                                                                    <label class="form-check form-check-custom form-check-solid me-5 me-lg-20">
                                                                        <input class="form-check-input" type="checkbox" value="" name="financial_management_write">
                                                                        <span class="form-check-label">
                                                                            Write
                                                                        </span>
                                                                    </label>
                                                                    <!--end::Checkbox-->
                                                                    <!--begin::Checkbox-->
                                                                    <label class="form-check form-check-custom form-check-solid">
                                                                        <input class="form-check-input" type="checkbox" value="" name="financial_management_create">
                                                                        <span class="form-check-label">
                                                                            Create
                                                                        </span>
                                                                    </label>
                                                                    <!--end::Checkbox-->
                                                                </div>
                                                                <!--end::Wrapper-->
                                                            </td>
                                                            <!--end::Input group-->
                                                        </tr>
                                                        <!--end::Table row-->
                                                        <!--begin::Table row-->
                                                        <tr>
                                                            <!--begin::Label-->
                                                            <td class="text-gray-800">Reporting</td>
                                                            <!--end::Label-->
                                                            <!--begin::Input group-->
                                                            <td>
                                                                <!--begin::Wrapper-->
                                                                <div class="d-flex">
                                                                    <!--begin::Checkbox-->
                                                                    <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
                                                                        <input class="form-check-input" type="checkbox" value="" name="reporting_read">
                                                                        <span class="form-check-label">
                                                                            Read
                                                                        </span>
                                                                    </label>
                                                                    <!--end::Checkbox-->
                                                                    <!--begin::Checkbox-->
                                                                    <label class="form-check form-check-custom form-check-solid me-5 me-lg-20">
                                                                        <input class="form-check-input" type="checkbox" value="" name="reporting_write">
                                                                        <span class="form-check-label">
                                                                            Write
                                                                        </span>
                                                                    </label>
                                                                    <!--end::Checkbox-->
                                                                    <!--begin::Checkbox-->
                                                                    <label class="form-check form-check-custom form-check-solid">
                                                                        <input class="form-check-input" type="checkbox" value="" name="reporting_create">
                                                                        <span class="form-check-label">
                                                                            Create
                                                                        </span>
                                                                    </label>
                                                                    <!--end::Checkbox-->
                                                                </div>
                                                                <!--end::Wrapper-->
                                                            </td>
                                                            <!--end::Input group-->
                                                        </tr>
                                                        <!--end::Table row-->
                                                        <!--begin::Table row-->
                                                        <tr>
                                                            <!--begin::Label-->
                                                            <td class="text-gray-800">Payroll</td>
                                                            <!--end::Label-->
                                                            <!--begin::Input group-->
                                                            <td>
                                                                <!--begin::Wrapper-->
                                                                <div class="d-flex">
                                                                    <!--begin::Checkbox-->
                                                                    <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
                                                                        <input class="form-check-input" type="checkbox" value="" name="payroll_read">
                                                                        <span class="form-check-label">
                                                                            Read
                                                                        </span>
                                                                    </label>
                                                                    <!--end::Checkbox-->
                                                                    <!--begin::Checkbox-->
                                                                    <label class="form-check form-check-custom form-check-solid me-5 me-lg-20">
                                                                        <input class="form-check-input" type="checkbox" value="" name="payroll_write">
                                                                        <span class="form-check-label">
                                                                            Write
                                                                        </span>
                                                                    </label>
                                                                    <!--end::Checkbox-->
                                                                    <!--begin::Checkbox-->
                                                                    <label class="form-check form-check-custom form-check-solid">
                                                                        <input class="form-check-input" type="checkbox" value="" name="payroll_create">
                                                                        <span class="form-check-label">
                                                                            Create
                                                                        </span>
                                                                    </label>
                                                                    <!--end::Checkbox-->
                                                                </div>
                                                                <!--end::Wrapper-->
                                                            </td>
                                                            <!--end::Input group-->
                                                        </tr>
                                                        <!--end::Table row-->
                                                        <!--begin::Table row-->
                                                        <tr>
                                                            <!--begin::Label-->
                                                            <td class="text-gray-800">Disputes Management</td>
                                                            <!--end::Label-->
                                                            <!--begin::Input group-->
                                                            <td>
                                                                <!--begin::Wrapper-->
                                                                <div class="d-flex">
                                                                    <!--begin::Checkbox-->
                                                                    <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
                                                                        <input class="form-check-input" type="checkbox" value="" name="disputes_management_read">
                                                                        <span class="form-check-label">
                                                                            Read
                                                                        </span>
                                                                    </label>
                                                                    <!--end::Checkbox-->
                                                                    <!--begin::Checkbox-->
                                                                    <label class="form-check form-check-custom form-check-solid me-5 me-lg-20">
                                                                        <input class="form-check-input" type="checkbox" value="" name="disputes_management_write">
                                                                        <span class="form-check-label">
                                                                            Write
                                                                        </span>
                                                                    </label>
                                                                    <!--end::Checkbox-->
                                                                    <!--begin::Checkbox-->
                                                                    <label class="form-check form-check-custom form-check-solid">
                                                                        <input class="form-check-input" type="checkbox" value="" name="disputes_management_create">
                                                                        <span class="form-check-label">
                                                                            Create
                                                                        </span>
                                                                    </label>
                                                                    <!--end::Checkbox-->
                                                                </div>
                                                                <!--end::Wrapper-->
                                                            </td>
                                                            <!--end::Input group-->
                                                        </tr>
                                                        <!--end::Table row-->
                                                        <!--begin::Table row-->
                                                        <tr>
                                                            <!--begin::Label-->
                                                            <td class="text-gray-800">API Controls</td>
                                                            <!--end::Label-->
                                                            <!--begin::Input group-->
                                                            <td>
                                                                <!--begin::Wrapper-->
                                                                <div class="d-flex">
                                                                    <!--begin::Checkbox-->
                                                                    <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
                                                                        <input class="form-check-input" type="checkbox" value="" name="api_controls_read">
                                                                        <span class="form-check-label">
                                                                            Read
                                                                        </span>
                                                                    </label>
                                                                    <!--end::Checkbox-->
                                                                    <!--begin::Checkbox-->
                                                                    <label class="form-check form-check-custom form-check-solid me-5 me-lg-20">
                                                                        <input class="form-check-input" type="checkbox" value="" name="api_controls_write">
                                                                        <span class="form-check-label">
                                                                            Write
                                                                        </span>
                                                                    </label>
                                                                    <!--end::Checkbox-->
                                                                    <!--begin::Checkbox-->
                                                                    <label class="form-check form-check-custom form-check-solid">
                                                                        <input class="form-check-input" type="checkbox" value="" name="api_controls_create">
                                                                        <span class="form-check-label">
                                                                            Create
                                                                        </span>
                                                                    </label>
                                                                    <!--end::Checkbox-->
                                                                </div>
                                                                <!--end::Wrapper-->
                                                            </td>
                                                            <!--end::Input group-->
                                                        </tr>
                                                        <!--end::Table row-->
                                                        <!--begin::Table row-->
                                                        <tr>
                                                            <!--begin::Label-->
                                                            <td class="text-gray-800">Database Management</td>
                                                            <!--end::Label-->
                                                            <!--begin::Input group-->
                                                            <td>
                                                                <!--begin::Wrapper-->
                                                                <div class="d-flex">
                                                                    <!--begin::Checkbox-->
                                                                    <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
                                                                        <input class="form-check-input" type="checkbox" value="" name="database_management_read">
                                                                        <span class="form-check-label">
                                                                            Read
                                                                        </span>
                                                                    </label>
                                                                    <!--end::Checkbox-->
                                                                    <!--begin::Checkbox-->
                                                                    <label class="form-check form-check-custom form-check-solid me-5 me-lg-20">
                                                                        <input class="form-check-input" type="checkbox" value="" name="database_management_write">
                                                                        <span class="form-check-label">
                                                                            Write
                                                                        </span>
                                                                    </label>
                                                                    <!--end::Checkbox-->
                                                                    <!--begin::Checkbox-->
                                                                    <label class="form-check form-check-custom form-check-solid">
                                                                        <input class="form-check-input" type="checkbox" value="" name="database_management_create">
                                                                        <span class="form-check-label">
                                                                            Create
                                                                        </span>
                                                                    </label>
                                                                    <!--end::Checkbox-->
                                                                </div>
                                                                <!--end::Wrapper-->
                                                            </td>
                                                            <!--end::Input group-->
                                                        </tr>
                                                        <!--end::Table row-->
                                                        <!--begin::Table row-->
                                                        <tr>
                                                            <!--begin::Label-->
                                                            <td class="text-gray-800">Repository Management</td>
                                                            <!--end::Label-->
                                                            <!--begin::Input group-->
                                                            <td>
                                                                <!--begin::Wrapper-->
                                                                <div class="d-flex">
                                                                    <!--begin::Checkbox-->
                                                                    <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
                                                                        <input class="form-check-input" type="checkbox" value="" name="repository_management_read">
                                                                        <span class="form-check-label">
                                                                            Read
                                                                        </span>
                                                                    </label>
                                                                    <!--end::Checkbox-->
                                                                    <!--begin::Checkbox-->
                                                                    <label class="form-check form-check-custom form-check-solid me-5 me-lg-20">
                                                                        <input class="form-check-input" type="checkbox" value="" name="repository_management_write">
                                                                        <span class="form-check-label">
                                                                            Write
                                                                        </span>
                                                                    </label>
                                                                    <!--end::Checkbox-->
                                                                    <!--begin::Checkbox-->
                                                                    <label class="form-check form-check-custom form-check-solid">
                                                                        <input class="form-check-input" type="checkbox" value="" name="repository_management_create">
                                                                        <span class="form-check-label">
                                                                            Create
                                                                        </span>
                                                                    </label>
                                                                    <!--end::Checkbox-->
                                                                </div>
                                                                <!--end::Wrapper-->
                                                            </td>
                                                            <!--end::Input group-->
                                                        </tr>
                                                        <!--end::Table row-->
                                                    </tbody>
                                                    <!--end::Table body-->
                                                </table>
                                                <!--end::Table-->
                                            </div>
                                            <!--end::Table wrapper-->
                                        </div>
                                        <!--end::Permissions-->
                                    </div>
                                    <!--end::Scroll-->
                                    <!--begin::Actions-->
                                    <div class="text-center pt-15">
                                        <button type="reset" class="btn btn-light me-3" data-kt-roles-modal-action="cancel">
                                            Discard
                                        </button>

                                        <button type="submit" class="btn btn-primary" data-kt-roles-modal-action="submit">
                                            <span class="indicator-label">
                                                Submit
                                            </span>
                                            <span class="indicator-progress">
                                                Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                            </span>
                                        </button>
                                    </div>
                                    <!--end::Actions-->
                                    <div></div>

                                </form>
                                <!--end::Form-->
                            </div>
                            <!--end::Modal body-->
                        </div>
                        <!--end::Modal content-->
                    </div>
                    <!--end::Modal dialog-->
                </div>
                <!--end::Modal - Update role--><!--end::Modals-->
            </div>
            <!--end::Container-->
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
@* @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }*@

<script type="text/javascript" language="JavaScript">

    function readTblValues() {
        var TableData = '';

        //$('#tbTableValues').val('');    // clear textbox
        $('#sampleTbl tr').each(function (row, tr) {
            TableData = TableData
                + $(tr).find('td:eq(0)').text() + ' '  // ID Name.
                + $(tr).find('td:eq(1)').text() + ' '  // Resource Name.
                + $(tr).find('td:eq(2) input[type=checkbox]:checked').val() + ' '  // Create
                + $(tr).find('td:eq(3) input[type=checkbox]:checked').val() + ' '  // Read
                + $(tr).find('td:eq(4) input[type=checkbox]:checked').val() + ' '  // Update
                + $(tr).find('td:eq(5) input[type=checkbox]:checked').val() + ' '  // Delete
        });
        $('#tbTableValues').html(TableData);
    }

    function storeAndShowTableValues() {
        var TableData;
        TableData = storeTblValues();
        var myObj = {
            "artist": JSON.stringify(TableData),    //your artist variable
        };
        $('#tbTableValuesArray').html('<br>JS Array: <br>' + JSON.stringify(myObj));
        var myJsonString = JSON.stringify(storeTblValues());
        
        alert(myObj)
    }
    function storeTblValues() {
        var TableData = new Array();
       

        $('#sampleTbl tr').each(function (row, tr) {
            TableData[row] = {
                "PID": $(tr).find('td:eq(0)').text()
                , "Rename": $(tr).find('td:eq(1)').text()
                , "Create": $(tr).find('td:eq(2) input[type=checkbox]:checked').val()
                , "Read": $(tr).find('td:eq(3) input[type=checkbox]:checked').val()
                , "Update": $(tr).find('td:eq(4) input[type=checkbox]:checked').val()
                , "Delete": $(tr).find('td:eq(5) input[type=checkbox]:checked').val()
            }
           
        });
       
        TableData.shift();  // first row will be empty - so remove
        return TableData;

    }

    function convertArrayToJSON() {
        var TableData;
        var myJsonString = JSON.stringify(storeTblValues());
        //var seleorder = [];
        //seleorder.push(myJsonString);
        TableData = JSON.stringify(storeTblValues());
        $('#tbConvertToJSON').html('<br>JSON array: <br>' + TableData.replace(/},/g, "},[ ],<br>"));
        alert(TableData);
        //var token = $('input:hidden[name="__RequestVerificationToken"]').val();
        //$.ajax({
        //    type: "Post",
        //    url: "https://localhost:7074/Identity/Account/CreateRole?handler=CreateStudent",
        //    beforeSend: function (xhr) {
        //        xhr.setRequestHeader("XSRF-TOKEN", token);
        //    },
        //    contentType: "application/json; charset=utf-8",
        //    dataType: "json",
        //    data: { student: seleorder },
        //    success: function (response) {
        //        alert(data);
        //    },
        //    failure: function (response) {
        //        alert("sdsdas");
        //    },
        //    error: function (response) {
        //        alert(response.responseText);
        //    }
        //});
    }



    function print_r(arr, level) {
        var dumped_text = "";
        if (!level)
            level = 0;

        //The padding given at the beginning of the line.
        var level_padding = "";
        for (var j = 0; j < level + 1; j++)
            level_padding += "    ";

        if (typeof (arr) === 'object') { //Array/Hashes/Objects
            for (var item in arr) {
                var value = arr[item];

                if (typeof (value) === 'object') { //If it is an array,
                    dumped_text += level_padding + "'" + item + "' \n";
                    dumped_text += print_r(value, level + 1);
                } else {
                    dumped_text += level_padding + "'" + item + "' => \"" + value + "\"\n";
                }
            }
        } else { //Stings/Chars/Numbers etc.
            dumped_text = "===>" + arr + "<===(" + typeof (arr) + ")";
        }
        return dumped_text;
    }



    //$(document).ready(function () {
    //    var token = $('input:hidden[name="__RequestVerificationToken"]').val();
    //    $.ajax({
    //        type: "Post",
    //        url: "https://localhost:7074/Identity/Account/CreateRole?handler=Send",
    //        beforeSend: function (xhr) {
    //            xhr.setRequestHeader("XSRF-TOKEN", token);
    //        },
    //        data: { "name": "tAPAN" },
    //        contentType: "application/json; charset=utf-8",
    //        dataType: "json",
    //        success: function (response) {
    //            alert("Hello");
    //        },
    //        failure: function (response) {
    //            alert("sdsdas");
    //        },
    //        error: function (response) {
    //            alert(response.responseText);
    //        }
    //    });
    //});

    function sendTblDataToServer() {
        var TableData;
        var myJsonString = storeTblValues();
        var jsonaer = { myJsonString }
        alert(jsonaer);
        //var seleorder = [];
        //seleorder.push(myJsonString);
        //TableData = $.toJSON(storeTblValues());
        //$('#tbConvertToJSON').html('<br>JSON array: <br>' + TableData.replace(/},/g, "},<br>"));
        var myObj = {
            "artist": JSON.stringify(myJsonString),    //your artist variable
        };
        var token = $('input:hidden[name="__RequestVerificationToken"]').val();
        $.ajax({
            type: "POST",
            url: "https://localhost:7074/Identity/Account/CreateRole?handler=CreStudent",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN", token);
            },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(myObj),
            success: function (data) {
                alert(data);
            },
            failure: function (response) {
                alert("sdsdas");
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }
</script>

